<ul class="internet-cards">
  <li class="card internet-card">
    <a href="http://getkale.com" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon" src="http://paulmederos.s3.amazonaws.com/blog/icon-kale.png">
      <h3>Guiding nutrition at <b>Kale</b></h3>
      <p>iOS app to help you eat healthier</p>
    </a>
  </li>

  <li class="card internet-card">
    <a href="http://facebook.com/americanparkour" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon" src="http://paulmederos.s3.amazonaws.com/blog/icon-apk.png">
      <h3>Teaching at <b>American Parkour</b></h3>
      <p>Learn parkour, have fun in life</p>
    </a>
  </li>

  <li class="card internet-card">
    <a href="http://cookchefclub.com" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon card-chef" src="http://paulmederos.s3.amazonaws.com/blog/icon-chef.png">
      <h3>Sous-chef at <b>Chef Club</b></h3>
      <p>Great food is the key to life</p>
    </a>
  </li>

  <li class="card internet-card">
    <a href="http://twitter.com/pvm" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon" src="http://paulmederos.s3.amazonaws.com/blog/icon-twitter.png">
      <h3>Philosophizing on <b>Twitter</b></h3>
      <p>Tweets may induce… feelings?</p>
    </a>
  </li>
  
  <li class="card internet-card">
    <a href="http://dribbble.com/pvm" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon" src="http://paulmederos.s3.amazonaws.com/blog/icon-dribbble.png">
      <h3>Visual design on <b>Dribbble</b></h3>
      <p>Delicious little nuggets of design works</p>
    </a>
  </li>

  <li class="card internet-card">
    <a href="http://enchant.co" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon" src="http://paulmederos.s3.amazonaws.com/blog/icon-enchant.png">
      <h3>Running <b>Enchant</b></h3>
      <p>A digital product design studio</p>
    </a>
  </li>


</ul><!-- /.internet-cards -->