<ul class="internet-cards">

  <li class="card internet-card">
    <a href="http://getkale.com" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon" src="https://powersupply-assets.s3.amazonaws.com/apple-touch-icons/152x152.png">
      <h3>Product Design at <b>Power Supply</b></h3>
      <p>Fueling the upward spiral with great food</p>
    </a>
  </li>

  <li class="card internet-card">
    <a href="http://writing.enchant.co" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon" src="http://paulmederos.s3.amazonaws.com/blog/icon-enchant.png">
      <h3>Writing goods at <b>Enchant</b></h3>
      <p>A digital product design studio</p>
    </a>
  </li>

  <li class="card internet-card">
    <a href="http://twitter.com/pvm" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon" src="http://paulmederos.s3.amazonaws.com/blog/icon-twitter.png">
      <h3>Philosophizing on <b>Twitter</b></h3>
      <p>Tweets may induce feelings</p>
    </a>
  </li>

  <li class="card internet-card">
    <a href="http://dribbble.com/pvm" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon" src="http://paulmederos.s3.amazonaws.com/blog/icon-dribbble.png">
      <h3>Visual design on <b>Dribbble</b></h3>
      <p>Delicious little nuggets of visual design</p>
    </a>
  </li>

</ul><!-- /.internet-cards -->
