<ul class="internet-cards">
  <li class="card internet-card">
    <a href="http://enchant.co" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon" src="http://paulmederos.s3.amazonaws.com/blog/icon-enchant.png">
      <h3>Running <b>Enchant</b></h3>
      <p>A digital product design studio</p>
    </a>
  </li>

  <li class="card internet-card">
    <a href="http://getkale.com" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon" src="http://paulmederos.s3.amazonaws.com/blog/icon-kale.png">
      <h3>Guiding nutrition at <b>Kale</b></h3>
      <p>iOS app to help you eat healthier</p>
    </a>
  </li>

  <li class="card internet-card">
    <a href="http://twitter.com/pvm" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon" src="http://paulmederos.s3.amazonaws.com/blog/icon-twitter.png">
      <h3>Philosophizing on <b>Twitter</b></h3>
      <p>Tweets may induce… feelings?</p>
    </a>
  </li>
  
  <li class="card internet-card">
    <a href="http://dribbble.com/pvm" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon" src="http://paulmederos.s3.amazonaws.com/blog/icon-dribbble.png">
      <h3>Visual design on <b>Dribbble</b></h3>
      <p>Delicious little nuggets of design works</p>
    </a>
  </li>

  <li class="card internet-card">
    <a href="http://facebook.com/pvmederos" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon" src="http://paulmederos.s3.amazonaws.com/blog/icon-facebook.png">
      <h3>Being a nerd on <b>Facebook</b></h3>
      <p>Personal moments and photos</p>
    </a>
  </li>

  <li class="card internet-card">
    <a href="http://instagram.com/pvmederos" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon" src="http://paulmederos.s3.amazonaws.com/blog/icon-instagram.png">
      <h3>Photographing on <b>Instagram</b></h3>
      <p>Mostly food, because I like great food</p>
    </a>
  </li>

  <li class="card internet-card">
    <a href="http://medium.com/@pvm" class="internet-card-link group" target="_blank">
      <img class="internet-card-icon" src="http://paulmederos.s3.amazonaws.com/blog/icon-medium.png">
      <h3>Writing on <b>Medium</b></h3>
      <p>Design, startups, and psychology</p>
    </a>
  </li>

</ul><!-- /.internet-cards -->