<%  # Page variables 
		@post_title = "Diminishing returns in behavior change."
		@post_title_html = "Diminishing returns <br />in behavior change"
		@disqus_url = "http://paulmederos.com/diminishing-returns-behavior-change"
		@background_image = "http://paulmederos.s3.amazonaws.com/blog/backgrounds/diminishing_returns.jpg" 
		@color_overlay = "rgba(255,60,60,.8)"
%>

<%= render "layouts/blog_header" %>

<article class="main-content">
	<div class="full-wrap copy-wrap">
		<a href="/diminishing-returns-behavior-change" class="timestamp" data-no-turbolink>
			August 8 <span class="timestamp-year">2013</span>
		</a>
		<p>I love my <a href="http://sidebar.io" target="_blank">Sidebar.io</a> daily email. It has great content that I care about (and deem useful.) It's well-designed. It's easy to use (sent straight to my inbox.) Yet it still finds its way to my archive without being read.</p>

		<p>Why does this happen? Because the behavior change tactics (features + triggers) we use to encourage new behaviors have <a href="https://en.wikipedia.org/wiki/Diminishing_returns" target="_blank">diminishing returns</a>; motivation is drained over time.</p>

		<ul>
			<li>Notifications? Eventually get ignored.</li>
			<li>Email digest? Fade to your archived or trash.  </li>
			<li>Spiffy animations? Become normal, unnoticeable.</li>
			<li>Great content? Overloads, you start to skim or pass over.</li>
		</ul>

		<h3>Halting diminishing returns</h3>
		<p>Supplying rewards on a variable ratio (aka. "optimized" randomness) is a good way to stave off the motivation fatigue.</p>

		<p>Let's look at Facebook notifications - they hook lots of people. They do this because they are incredibly varied. You never know when you'll get one, and probably have no idea what it's for. It could be someone liking, inviting you, commenting, sharing, tagging, etc.</p>

		<p>But get too many Facebook notifications <i>in too short a time</i> and you'll start ignoring them. You feel pulled-in, wasted, and tired.</p>

		<p>Think of your inbox.</p>

		<p>If you keep reacting to emails all day, you become stressed. If you batch them out and dedicate small windows of your day to focus on email, you'll notice a huge jump in productivity - not just in taking care of email, but also in other aspects of your day.</p>

		<p>Back to Facebook. What if we applied a variable ratio schedule to notification <i>delivery</i>. Above a certain point, notifications could be batched and sent at later (carefully calculated) times. This could alleviate notification fatigue + increase engagement. Yay!</p>
		
		<p>So think about your product. Can you identify where diminishing returns might play a role in users falling off? Now think of ways to use a variable ratio schedule to fix it up.</p>
		<p>If you're running into bottlenecks like this with your product, I'd love to help you like I've helped others; <a href="http://sohelpful.me/pvm" target="_blank">schedule a 30-min chat with me</a>.</p>

		<hr />

		<p>A word of caution on optimizing your product for addiction: each feature drains bits of motivation, sapping away at blood sugar, and <a href="http://www.blog.theteamw.com/2009/11/07/100-things-you-should-know-about-people-8-dopamine-makes-us-addicted-to-seeking-information/" target="_blank">shorting out dopamine loops</a>. I highly recommend reading Kathy Sierra's post <a href="http://seriouspony.com/blog/2013/7/24/your-app-makes-me-fat" target="_blank">"Your App Makes Me Fat"</a> to recognize potential damage you may be causing.</p>

	</div>
</article>

<%= render "layouts/footer" %>