<%  # Page variables 
		@post_title = "Focus? You Mean Discipline."
		@post_title_html = "Focus? You<br/>Mean Discipline."
		@disqus_url = "http://paulmederos.com/focus-or-discipline"
		@background_image = "http://paulmederos.s3.amazonaws.com/blog/backgrounds/focus.jpg" 
		@color_overlay = "rgba(250,100,0,.8)"
%>

<%= render "layouts/blog_header" %>

<article class="main-content">
	<div class="full-wrap copy-wrap">
		<a href="/focus-or-discipline" class="timestamp">May 21 <span class="timestamp-year">2013</span></a>
		<p>You know that scene in every martial arts movie where the young, impatient student gets the crap beat out of them by the wise master? Yeah, that was me at 8. I was literally bouncing off the walls with energy, unable to control myself until my instructor smacked some sense into me.</p>
		<p>You see, at the time, I was like <a href="#">any other 8 year-old</a>, unable to focus for any particular amount of time. I’d finish my set of 50 sidekicks, and immediately start blabbing on about Ninja Turtles, or start rolling on the ground, or try to knock over classmates that hadn’t finished.</p>
		<p>I lacked focus. But the master instructor covinced me that what I really lacked was discipline.</p>

		<hr />

		<p>Everyone raves about focus these days. “Focus, focus, focus!” is the mantra of makers everywhere.</p>
		<blockquote><p>Focus: a state or condition permitting clear perception or understanding; directed attention.</p></blockquote>
		<p>Yes, focus is wonderful, but it’s a state of being. You don’t flip a switch and BAM you’re focused. Instead of telling people to focus, we should help people understand how to be focused. This is the realm of discipline</p>
		<blockquote><p>Discipline: control gained by enforcing obedience or order; punishment.</p></blockquote>

		<p>Great makers have rules they follow. They pay attention to their habits, and find ways to break negative ones and enforce positive onces.</p>

		<p>Great makers sleep at reasonable times, wake up early, pay attention to what they eat, and exercise frequently. They guard their words, speaking only after thinking. They control their thoughts, practicing meditation to keep a clear mind. They turn off social media, and banish email to specific parts of the day. I could go on and on.</p>

		<p>Great makers have discipline; focus follows.</p>

		<hr />

		<p>After years of obedience, I found myself an instructor. Focus wasn’t a problem anymore. Correct, my master was. By teaching me discipline, he lead me to focus. Now it was my turn.</p>
	</div>

	
</article>

<%= render "layouts/footer" %>