<%  # Page variables 
		@post_title = "Helping Others Builds Your Reputation"
		@post_title_html = "Helping Others Builds Your Reputation"
		@disqus_url = "http://paulmederos.com/helping-others-builds-reputation"
		@background_image = "http://paulmederos.s3.amazonaws.com/blog/backgrounds/helpful.jpg" 
		@color_overlay = "rgba(0,100,250,.8)"
%>

<%= render "layouts/blog_header" %>

<article class="main-content">
	<div class="full-wrap copy-wrap">
		<a href="/helping-others-builds-reputation" class="timestamp" data-no-turbolink>
			April 18 <span class="timestamp-year">2013</span>
		</a>
		<p>We often get stuck in our own heads. It’s hard to look at a problem from different perspectives.That’s why it’s useful to bring in another person from time to time.</p>

		<p>So I’m setting aside time for people to talk with me about their design challenges. I’m breaking my time into 30-minute slots; long enough to explore a problem, but short enough to stay focused on action.</p>

		<p>Want to chat with me? Cool. <a href="http://sohelpful.me/pvm" target="_blank">Set up a time here</a>.</p>

		<hr />

		<p>You might be asking, <em>why the free help?</em> Simple &#8212; I know that we can learn from each other. I can provide that outsider’s perspective on your problem. You can provide a scenario for me to learn from, and grow as a designer.</p>
		<p>Now you wonder: what qualifies me to help you out? How do you know I’m not giving you trash?</p>
		<p>Well, my reputation says so. The digital products I’ve built that are showcased on my portfolio; the thousands of design-related tweets; the hundreds of people I’ve worked with that can vouch for me; the handful of blog posts; and all sorts of miscellaneous minutiae that point to my competence as a designer.</p>
		<p>A good reputation is no joke. It takes tremendous effort to build and maintain, especially when it’s so easy <a href="http://qz.com/74937/how-to-become-internet-famous-without-ever-existing/" taget="_blank">to falsify an entire online persona</a>.</p>

		<blockquote><p>"We're trying to build an audience; we're not just trying to have customers." -David Heinemeier Hansson of 37Signals on <a href="http://ecorner.stanford.edu/authorMaterialInfo.html?mid=2361" taget="_blank">out-teaching your competitors</a></p></blockquote>

		<p>When you provide value, people begin to trust you. Consistently providing value solidifies that trust, and transforms it into loyalty. Keep being awesome and soon you’ll have people who can’t stop talking about you.

		<p>That’s why you should start teaching today.</p>

		<p>Are you <a href="http://www.anchormedia.com/socially-yours/" taget="_blank">a social media strategist</a>? <a href="http://robbwolf.com/podcast/" taget="_blank">A personal trainer</a>? <a href="http://tomtunguz.com/" taget="_blank">A venture capitalist</a>? <a href="http://www.youtube.com/user/elpheal" taget="_blank">A cosplay maker</a>? <a href="http://www.bjfogg.com/schedule.html" taget="_blank">A behavioral psychologist</a>? Yeah, all of you have something to share, some value to bring others.</p>

		<p>Think you’re not "good enough" to start teaching? Don’t worry. Start where you’re at. One of my favorite developers is a friend who started learning Ruby on Rails about 3 months ago. He’s <a href="http://eyeofthesquid.tumblr.com/">blogged every step of the way</a> since then. Next time I need to hire a Ruby dev, I’d want to hire him, “experience” be damned.</p>

		<p>So start building your reputation today by helping others. Publicize your intent on whatever social channels you frequent. More importantly, just go and do it. Effort is underrated.</p>
	</div>

	
</article>

<%= render "layouts/footer" %>