<%  # Page variables 
		@post_title = "How Should I Eat?"
		@post_title_html = "How Should I Eat?"
		@disqus_url = "http://paulmederos.com/how-to-eat"
		@background_image = "http://paulmederos.s3.amazonaws.com/blog/backgrounds/nutrition.jpg" 
		@color_overlay = "rgba(20,250,120,.8)"
%>

<%= render "layouts/blog_header" %>

<article class="main-content">
	<div class="full-wrap copy-wrap">
		<a href="/designing-for-growth-mindset" class="timestamp" data-no-turbolink>
			October 15 <span class="timestamp-year">2013</span>
		</a>
		<p>Food is amazing. I'm obsessed with it. </p>

		<p>There, I confess, I'm addicted to eating food; I don't ever want to stop. What's worse is that I want everyone in the world to fall in love with food. Yes, you, sitting there reading my blog. I want you to love your food.</p>

		<p>I don't mean lusting over delectable meals, eagerly scouting your next one-night-stand with a juicy burger. I certainly don't want you, in gluttonous rage, to inhale every bit of food on your oversized dinner plate while enviously roaming your friend's Instagram feed wishing you had a piece of their magical looking meals.</p>

		<p>I'm talking about bonafide love. The kind where you and your food share a mutual understanding. The kind of relationship that you'll want to spend the rest of your life exploring. A healthy relationship between your body, mind, and the food you slide down your throat. I want you to have that kind of healthy love with your food.</p>

		<hr />

		<p>Loving your food means eating well. If you care about what you eat, you'll find that your food will take great care of you.</p>

		<p>But there's a problem! What does it mean to "eat well"? It seems everyone has a different opinion.</p>

		<p>Everyone seems to have a different opinion. Even nutrition experts can't agree on the basics of a "healthy" diet. </p>

		<p>Why? Because there are no clear-cut studies. Even a metabolic ward&mdash;the gold standard for nutritional research&mdash;is incredibly tough to pull off, and in most cases the sample size is too small to draw any causative conclusions. </p>

		<p>As a consequence, dietary beliefs spread like wildfire. You're familiar with the names: everything from veganism to primal/paleo, Dr. Atkins to Dr. Dukan, low-fat to low-carb.</p>

		<p>In the past, these "camps" focused on promoting how right they were and how wrong everyone else was. What they managed to skip over is the fact that good nutrition is complicated. There's no one-size-fits-all. The human body is an insanely complex biological machine.</p>

		<hr />

		<p>Here's the question you need be asking: what is <em>my</em> optimal diet?</p>

		<p>Your nutrition hinges on your movement and mindset. A person who is incredibly stressed at work will need a different approach than a person who is low-stressed. The person who can barely manage to walk 30 minutes a day requires a different set of nutritional guidelines than a person who consistently walks for an hour.</p>

		<p>The internet has provided an easy way to quickly test, iterate, and gather data from huge sample sizes. It's never been easier for experts (and amateurs) to share their findings. Because of this, experts and nutrition "camps" are changing daily.</p>

		<blockquote>
			<p>"The only way to figure out what an optimal diet is for you is to experiment and observe." - <a href="http://chriskresser.com/clinic/about" target="_blank">Chris Kresser, L.Ac</a></p>
		</blockquote>

		<p>For example, what was considered <a href="http://www.nerdfitness.com/blog/2010/10/04/the-beginners-guide-to-the-paleo-diet/" target="_blank">a Paleo diet has <a href="http://chriskresser.com/beyond-paleo-moving-from-a-paleo-diet-to-a-paleo-template" target="_blank">morphed</a> since it's introduction years ago. There is no one Paleo diet. We've seen a splintering of factions based on different targeted audiences.</p>
		<p>This splintering is a good thing. It's helped experts hone in on various &lsquo;templates&rsquo; for eating. These templates are based on a core set of guidelines, or tips, and they branch off to specificities based on your goals.
		<p>Are you diabetic? Overweight? High-performance athlete? Just trying to maintain good health? There's a template for that.</p>

		<hr />

		<p>As an example, I'd like to walk you through <strong>my</strong> template that I've developed through experimenting and observing changes with my body. I've been tracking my food (and it's effects) for over 4 years now, with the last year being meticulously <a href="http://app.getkale.com" target="_blank">tracked through my app Kale</a>. You can see most of what I eat <a href=" http://getkale.com/pvm" target="_blank">on my profile.</a></p>

		<p>I am a 25-year-old male trying to maintain health for the best productivity/energy at work and in life. I used to be a high-performance athlete, but I am now moderately active.</p>

		<p>I'm not sick in any way, have no known disorders, my blood lipid panel look good, and I'm in decent athletic shape as gauged by measuring performance metrics such as running, max reps, and mobility. I work as a software engineer, where I get enough sleep and have a low amount of stress.</p>

		<p>I am not your typical worker, but you can use my template as an example to see where I make trade-offs.</p>

		<p>My nutrition template consists of the following guidelines:</p>

		<ul>
		<li><strong>I avoid high-processed foods.</strong> These contain excessive fructose (from sugar and HFCS), high glycemic carbs from grains, and excessive omega fatty acids from industrial "vegetable" oils.</li>
		<li><strong>I avoid most grains.</strong> This means no bread, pasta, or goods baked with wheat flour. I'm comfortable eating a sandwich or pasta place once a month at most, although I do feel noticeable irritation. I'm comfortable eating white rice - I have not yet been able to detect any issues.</li>
		<li><strong>I limit carbohydrates.</strong> I don't have a hard number, but when I measured I kept it under 150g per day. If I do eat starchy carbs, I try to eat them around dinner time to take advantage of [hormonal fluctuations] (http://carbnite.com/).</li>
		<li><strong>I eat a large variety of protein.</strong> Beef, poultry, pork, fish, and other seafood. Every meal usually consists of 30-40% protein. </li>
		<li><strong>I eat liberal amounts of good fats.</strong> Olive oil, avocados, most nuts, coconut oil, grass-fed butter, egg yolks, and animal fats are my go-to. I don't pay attention to my ratio of monounsaturated/polyunsaturated/saturated fats. Fats usually make up 20% of my meal.</li>
		<li><strong>Vegetables are awesome.</strong> I used to hate vegetables, but then I learned how to cook. This changed everything. Vegetables are incredibly delicious, with so much variation that it's difficult to not like them. My go-tos are bell peppers, zucchini, acorn squash, sweet potatoes, kale, spinach, and onions, but each week at the farmer's market I find all sorts of delectable veggies like eggplant, chard, artichokes, lettuce, cabbage, carrots, and beets.</li>
		<li><strong>I limit my dairy intake, but I'm not strict about it.</strong> If I eat too much dairy, or low quality dairy, I've found that my throat has a minor allergic reaction (have to clear it after dairy), digestion gets a bit messed up, and acne shows up on on my body. I'm pretty good with just one latte a day, or a bit of cheese with dinner. If I haven't cheated in a bit I'll grab a milkshake (although these always put me over the top with my reactions.)</li>
		<li><strong>When I cheat, I make it count.</strong> I don't waste time eating shitty cookies; instead I'll eat an amazingly delicious (and usually expensive) cake. I'll cheat a few times per month. probably around once a week. </li>
		<li><strong>Chocolate, coffee, and wine are daily indulgences.</strong> I find it incredibly difficult to ween off chocolate. The chocolate I eat is at least 72% dark, and it's the good stuff from artisan chocolatiers or Whole Foods. Coffee + espresso are daily habits. Wine is usually one cup of a nice red 2 or 3 times per week with dinner. Through my experimentation, I've found very little to no positive effects by avoiding these things, so I'm OK with them.</li>
		<li><strong>I'm not scared to skip meals.</strong> I eat breakfast pretty much every day. Lunch on most days. Dinner every day. The meal I tend to skip the most is lunch - if skipped, it's replaced by a snack like beef jerky, nuts, or rice crackers and tuna.</li>
		<li><strong>Cooking is incredibly important to me.</strong> I cook most of my meals. I work from home, so it's a viable option. I might eat out just a few times per week, and usually for lunch when I'm too focused on work and too lazy to make something, or on evenings when I hang out with friends. I thought cooking was hard, but then I tried it. It gets easier, and the more you do it, the more you <em>want</em> to do it. It's a great, vicious cycle of deliciousness.</li>
		<li><strong>Water is a magic potion. Drink up.</strong> Forget sodas, juices, and energy or athletic drinks. Stick to water or tea. Drink lots throughout the day. Staying hydrated is good.</li>
		<li><strong>Sleep is magical, so get more.</strong> I sleep 8 hours a day. If I'm unlucky, I might get 7. On good days, I'll get 9-10 hours. I usually sleep around 10pm or 11pm and wake up at 7pm.</li>
		<li><strong>Be mindful when you eat.</strong> Chew your food. Really, slow down and chew it, then swallow. A lot of people inhale food. If you slow down and pay attention to your stomach, you'll find that smaller portions as satisfying. You'll find that you can eat less and save the rest for a snack later.</li>
		</ul>

		<hr />

		<p>Hopefully I've convinced you that optimal nutrition is a moving target, and that the only way you'll gain control of your health is by consciously focusing on improving it. I have tried to provide  you an idea of where to start by assessing your health, your goals, and building a template.</p>
		<p>I'd highly recommend (as many other nutrition experts do) using the <a href="http://robbwolf.com/what-is-the-paleo-diet/">Paleo diet</a> as a kicking off point to figuring out your optimal diet, and using <a href="http://getkale.com">Kale</a> as a tool to help you track your experiments. </p>

		<p>If you have any specific questions, I'm always open to discussion on Twitter <a href="http://twitter.com/pvm">@pvm</a>, or you can <a href="http://sohelpful.me/pvm">schedule a call with me here</a>. Keep in mind I am not an expert, and I am not certified in any way. I'm just a curious guy looking for the best possible answers :)</p>

	</div>

	
</article>

<%= render "layouts/footer" %>