<%  # Page variables 
		@post_title = "Side Project or Real Product"
		@post_title_html = "Side Project or<br /> Real Product?"
		@disqus_url = "http://paulmederos.com/side-project-vs-real-product"
		@background_image = "http://paulmederos.s3.amazonaws.com/blog/backgrounds/real-product.jpg" 
		@color_overlay = "rgba(5,206,116,.8)"
%>

<%= render "layouts/blog_header" %>

<article class="main-content">
	<div class="full-wrap copy-wrap">
		<aside class="timestamp">July 15 <span class="timestamp-year">2013</span></aside>
		<p>Nine months ago today, I committed the first line of code to what would become <a href="https://itunes.apple.com/us/app/kale-for-ios/id600978472?mt=8">Kale</a>. It was a tiny idea back then: make a place for people to track their food, with the intention that being concious of what you ate would help you eat healthier.</p>

		<p>Nine months later, I've found that <strong>building a useful product requires intense honesty</strong>.</p>

		<p>You see, the difference between a side project and a real product is a deliberate decision. It's the decision to change how you think about the entire process.</p>

		<p>A <em>side project</em> is driven by an unusual spike of motivation. You're doing it for fun, because it should exist, because you think it's cool. You'll be able to build it quickly, and you might learn to use a new tool - two birds, one stone!</p>

		<p>On the other hand, a <em>real product</em> is methodically built by observing and analyzing customer problems. (Please, forgive my buzz-wording.)</p>

		<p>A real product has well-defined goals, experiments that test assumptions (about achieving said goals), and the discipline to shift the product in a way that best solves the customer's real problem.</p>

		<blockquote class="sidenote"><p>Sidenote: I'm not saying you should warp your product on the whims of customers. Nor am I saying you need to maximize profit. In this era of the social enterprise, your goal may simply be sustainability.</p></blockquote>

		<p>Put another way, a real product solves two problems: </p>
			<ol>
				<li>It brings you money (so you can keep working on it), and</li>
				<li>It helps the customer do something useful.</li>
			</ol>



		<hr />

		<p>When I started building Kale, my process was all over the place. It was a weekend hack (you really don't want to see my git logs), and my only concern was getting something up and running.</p>

		<p>You know how it goes.</p>

		<p>You have a crazy idea that's too good to ignore. You'll be able to build it so fast, it should only take half a weekend. And even better, you can probably make money off it at some point, so it's easily worth the time investment. If you really think about it, this thing could probably grow to help hundreds of thousands of people; it could become a huge company making you millions!

		<p>It's an easy decision to move forward with these half-baked thoughts. They just roll off your mind. <strong>The hard decision is to take a step back to analyze your motivations.</strong></p>

		<p>Sure, I spent weeks <em>thinking about the problem</em>. I wondered if I was solving the right problem. I wondered if I was doing it the right way. I wondered how I could possibly "turn it into a business."

		<p>Those were distractions. Any decent product designer knows <a href="http://unicornfree.com/2013/how-do-you-create-a-product-people-want-to-buy" target="_blank">you start with customers first</a>. You shouldn't have to "wonder" about anything. Instead, you need to construct experiments to turn those wonders into facts.</p>

		<p>But wait a second... you're just doing a side project, right? Do you really need a solid process? You just need to keep building, slowly, and things will just happen, right?</p>

		<p>You understand that these things don't explode overnight, but you've heard that consistent chipping away will guarantee success. Isn't that how it works?</p>

		<p><strong>Wrong.</strong> If you're trying to build a product, being patient is just a waste of time if you don't have a solid process. That's why the first (and most important) step is to decide why you're creating. <strong>Are you doing a side project, or are you building a product?</strong></p>

		<p>Most people stay here. They get stuck on this decision. I know because I've been stuck, too. There were so many upsides to a side project. It's just a side project, so:</p>

		<ul>
			<li>It doesn't really matter if it works or not.</li>
			<li>I don't really need to make money.</li>
			<li>I can take my time.</li>
			<li>I can still work on other things.</li>
			<li>I'm not good enough to build a real product, so this will do.</li>
		</ul>

		<p>Do you smell that? Yeah, I do too. The scent of fear is overwhelming. Fear of making a change, of doing something productive and useful. Fear of commitment. These fears will be your product's undoing:</p>

		<ul>
			<li>Life is too short to build something that doesn't matter. (I love the approach Josh Long takes: to him, there are <a href="http://blog.joshlong.me/no-such-thing-as-side-projects" taget="_blank">no such things as side projects</a>.)</li>
			<li>Skill helps, but it's not the determining factor in building a real product. Oh, and you can learn, fast.</li>
			<li>You should be compensated for solving a hard problem.</li>
			<li>You can always do other things later, if they're still important; it's not like you need to quit a full-time job <a href="http://37signals.com/svn/posts/1619-theres-always-time-to-launch-your-dream" taget="_blank">to build a useful product</a>.</li>

		</ul>

		<p>Six months into building Kale, I made the decision to tackle my fears. Kale wouldn't just be a side project. It was going to help people eat healthier. How was I going to do that? That's another topic (designing product experiments) for another day.</p>

		<hr />

		<p>If you're working on a "side project", take a walk outside and think about your real motivations. If you're cool with "side project status", then go wild, have fun. If you're actually trying to build a product, then go and build a real product.</p>
	</div>

	
</article>

<%= render "layouts/footer" %>