<footer class="footer">
	<section class="comments full-wrap copy-wrap">
		<%= render "layouts/disqus" %>  
	</section>
	<section class="previous-posts">
		<h6>Recent Articles</h6>
		<ul class="previous-posts-list">
			<li><a href="/how-to-eat" data-no-turbolink>How should I eat?<br/ ><span class="month">October 2013</span></a></li>
			<li><a href="/diminishing-returns-behavior-change" data-no-turbolink>Diminishing returns in behavior change<br/ ><span class="month">August 2013</span></a></li>
			<li><a href="/designing-for-growth-mindset" data-no-turbolink>Designing for the Growth mindset<br/ ><span class="month">July 2013</span></a></li>
			<li><a href="/side-project-or-real-product" data-no-turbolink>Side project or Real product?<br/ ><span class="month">July 2013</span></a></li>
			<li><a href="/focus-or-discipline" data-no-turbolink>Focus? You must mean discipline.<br/ ><span class="month">June 2013</span></a></li>
			<li><a href="/helping-others-builds-reputation" data-no-turbolink>Helping others builds your reputation.<br/ ><span class="month">May 2013</span></a></li>
		</ul>
	</section>
	<a href="#top" class="back-top-top scroll">Take me to the top, TARDIS.</a>
</footer>